* {
    box-sizing: border-box
}

::-webkit-input-placeholder {
    color: #ccc;
}
::-moz-placeholder {
    color: #ccc;
}
:-ms-input-placeholder {
    color: #ccc;
}
:-moz-placeholder {
    color: #ccc;
}

/* -------------------------------------------- */
/* globalne klasy */
/* -------------------------------------------- */
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1040px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.btn {
    font-family: Raleway, sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color:#fff;
    background:#24BAA0;
    border:0;
    padding:10px 20px;
    text-decoration: none;
    border-radius: 10px;
}

.mid-btn {
    background: #f8f8f8;
    color: #23c0a1;
}

.title {
    font-size:22px;
    font-weight: 600;
    text-transform: uppercase;
    color:#666;
    margin-bottom:40px;
    position: relative;
    padding-bottom: 20px;
}
.title:before {
    content:'';
    position: absolute;
    left:0;
    bottom:0;
    width:320px;
    height:9px;
    background: #24BAA0;
}

.row {
    margin-left:-13px;
    margin-right:-13px;
}
.row .col-1-3 {
    width:33.3333%;
    float:left;
    padding:0 13px;
}

/* -------------------------------------------- */
/* layout */
/* -------------------------------------------- */
body {
    font-family: Raleway, sans-serif;
}


/* -------------------------------------------- */
/* main header */
/* -------------------------------------------- */
.main-header {
    height:40px;
    background: #000;
    position: relative;
    z-index: 1;
}

.main-logo {
    float:left;
}
.main-logo a {
    font-size:14px;
    font-weight: 600;
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 40px;
}
.main-logo span {
    color: #24BAA0;
    font-weight: 800;
}

.main-nav {
    float:right;
}
.main-nav li {
    display: inline-block;
    position: relative;
}
.main-nav a {
    font-size:14px;
    font-weight: 800;
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    padding:0 20px;
    line-height: 40px;
}

.main-nav li a:hover {
    color: #27C7AB;
}

/* main nav submenu */
.main-nav-submenu {
    padding:6px 0;
    background: black;
    position: absolute;
    left:50%;
    top:55px;
    transform: translate(-50%, 0);
    opacity:0;
    visibility:hidden;
    transition: 0.5s all;
}
.main-nav li:hover .main-nav-submenu {
    opacity:1;
    visibility:visible;
}
.main-nav-submenu:before {
    position: absolute;
    left:50%;
    top:-20px;
    transform: translate(-50%, 0);
    content:'';
    width:0;
    height:0;
    border:10px solid transparent;
    border-bottom-color:black;
}
.main-nav-submenu:after {
    content:'';
    position: absolute;
    background: transparent;
    width:100%;
    height:30px;
    left:0;
    top:-30px;
}

.main-nav-submenu a {
    font-weight: normal;
    text-transform: none;
    line-height: 2.5em;
}


.main-nav-submenu li {
    display: block;
    text-align: center;
    margin: 2px 0;
    border: 2px dotted #000000;
}

.main-nav-submenu li:hover {
    border: 2px dotted #23a186;
}

.main-nav-submenu li a {
    color: white;
    padding: 10px 10px;
}

.main-nav-submenu li a:hover {
    color: #27C7AB;
}


/* -------------------------------------------- */
/* banner */
/* -------------------------------------------- */
.main-banner-bg {
    background-image: linear-gradient(180deg, #fff 0%, #ccc 100%);
}
.main-slider {
    height:500px;
    position: relative;
}
.main-slider-prev,
.main-slider-next {
    height:100%;
    width:80px;
    background: transparent;
    position: absolute;
    left:0;
    top:0;
    border:0;
    font-size:50px;
    color:#24BAA0;
    outline: none;
}


.main-slider-prev:hover, .main-slider-next:hover {
    font-size: 100px;
    transition: all 150ms;
}

.main-slider-next {
    left:auto;
    right: -80px;
}

.main-slider-prev {
    left: -80px;
    right: auto;
}

.main-slider-slides-cnt {
    position: relative;
    height:100%;
    margin:0 80px;
    border-radius: 6px;
}

.main-slider-slide {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity:0;
    transition: 500ms;
    text-align: center;
    line-height: 500px;
    border-radius: 6px;
}

.main-slider-slide h2 {
    font-size:4rem;
    position: relative;
    top: 0;
    transition: 0.5s all;
    color: #20b196;
}
.main-slider-slide.active {
    opacity:1;
}
.main-slider-slide.active h2 {
    top:0;
}


/* -------------------------------------------- */
/* main articles */
/* -------------------------------------------- */
.main-articles {
    padding:30px 0 100px 0;
}

.article-box {
    display: inline-block;
    position: relative;
}
.article-box img {
    display: block;
}
.article-box-description {
    position: absolute;
    left:0;
    top:145px;
    width:100%;
    background: rgba(255,255,255,0.4);
    padding:10px;
    height:65px;
    transition: 0.5s all;
}
.article-box .title {
    font-size:16px;
    padding-bottom:10px;
    margin-bottom:10px;
}
.article-box .title:before {
    width:140px;
    height:7px;
}
.article-box-description-text {
    height:0;
    opacity:0;
    visibility:hidden;
    transition: 0.5s all;
    overflow: hidden;
}
.article-box.active .article-box-description {
    background: #fff;
    top:0;
    height:100%;
    box-shadow:inset 0 0 0 1px #ddd;
}
.article-box.active .article-box-description-text {
    opacity:1;
    visibility: visible;
    height:130px;
}

/* -------------------------------------------- */
/* SECTION PRICES */
/* -------------------------------------------- */
.main-prices {
    padding-top: 45px;
    padding-bottom: 45px;
    background: #F1F1F1;
    width: 100%;
    height: 777px;
}

.price-list-box {
    background: #F9F9F9;
    border: 2px solid #D4D4D4;
    height: 520px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.price-list-box-square {
    width: 60px;
    height: 60px;
    border: 1px solid #cecece;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform:translate(-50%, -50%);
}

.price-list-box-dot {
    width: 25px;
    height: 25px;
    position: absolute;
    border: 1px solid #a8a8a8;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    background: #bababa;
    border-radius: 50%;
}

.on-it-dot {
    border: 1px solid white;
    background-color: white;
}

.on-it-square {
    background-color: #27C7AB;
    border: 1px solid #27C7AB;
}



.price-list-box-title{
    padding-top: 14px;
}

.price-list-box .price-list-box-title {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #27C7AB;
    margin-top: 20px;
}

.price-list-box .price-list-box-price {
    display: flex;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    border: 2px solid #D4D4D4;
    background: #FFF;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.price-list-box .price-cnt {
    display: flex;
    color: #C2C2C2;
}

.price-list-box .price-cnt .price {
    font-size: 45px;
    font-weight: 600;
}

.price-list-box .price-cnt .small {
    font-size: 16px;
    padding-top: 15px;
}

.price-list-box .price-text {
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    color: #C2C2C2;
}

.price-list-box .price-list-box-points {
}

.price-list-box .price-list-box-points li {
    background: #E4E4E4;
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
    color: #8F8F8F;
}

.price-list-box .price-list-box-points li:nth-of-type(even) {
    background: #F1F1F1;
}

.price-list-box .price-list-box-btn-cnt {
    font-size: 16px;
    margin-top: auto;
    text-align: center;
    margin-bottom: 20px;
}

.price-list-box-btn {
    padding: 5px 20px;
    border-radius: 6px;
    font-size: 15px;
    letter-spacing: 1px;
}

.price-list-box-btn-cnt {
    padding-top: 20px;
}

.price-list-box .button {
    font-size: 16px;
    padding: 4px 25px;
    margin-top: auto;
}

/* active */
.price-list-box.active {
    background: #27C7AB;
    border-color: #27C7AB;
}

.price-list-box.active .price-list-box-title {
    color: #FFF;
}

.price-list-box.active .price-list-box-price {
    border-color: #27C7AB;
}

.price-list-box.active .price-cnt .price,
.price-list-box.active .price-cnt .small,
.price-list-box.active .price-text {
    color: #27C7AB
}

.price-list-box.active .button {
    background: #FFF;
    color: #27C7AB;
}

/* -------------------------------------------- */
/* main contact */
/* -------------------------------------------- */
.main-contact {
    padding:36px 0
}
.main-contact-form {}
.main-contact-form-left {
    float:left;
    width:635px;
}
.main-contact-form-right {
    float:right;
    width:345px;
}
.main-contact-form input,
.main-contact-form textarea {
    border:1px solid #A3E2D7;
    padding:20px;
    font-size:30px;
    display: block;
    width:100%;
    font-weight: 300;
    font-family: Raleway, sans-serif;
}
.main-contact-form textarea {
    resize: none;
    height:205px;
}
.main-contact-form-row {
    margin-bottom:25px;
}
.main-contact-form-addon {
    height:220px;
    background: url(../images/red_chair.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-bottom:35px;
}
.main-contact-form .btn {
    font-size:34px;
    font-weight: bold;
    width:100%;
}

.checkbox-cnt {
    display: block;
    position:relative;
    padding-left:60px;
    min-height: 48px;
    color:#aaa;
    padding-top:5px;
}
.checkbox-cnt input {
    position: absolute;
    left:-99999px;
}
.checkbox-cnt .checkbox-mark {
    position: absolute;
    left:0;
    top:0;
    width:48px;
    height:48px;
    border:1px solid #A3E2D7;
    display: inline-block;
}
.checkbox-cnt input:checked + .checkbox-mark {
    background: url(../images/form_ok.jpg);
    background-repeat: no-repeat;
    background-position:center center;
}



/* -------------------------------------------- */
/* main footer */
/* -------------------------------------------- */

.main-footer {
    height: 60px;
    margin-bottom: 20px;
}


.footer-logo {
    float:right;
}
.footer-logo a {
    font-size:14px;
    font-weight: 100;
    color:#878889;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 60px;
    opacity: 0.7
}
.footer-logo span {
    color: #878889;
    font-weight: 600;
}
.copy-footer {
    color: #cbcbcb;
    font-weight: 300;
    font-size: 12px;
    line-height: 60px;
    letter-spacing: 1px;
}

.icons {
    opacity: 0.9;
    float: right;
    margin-right: 50px;
}

.icons li {
    display: inline-block;
    padding: 10px 0;
}


/* Slides */

.slide1 {
    width: 100%;
    height: 480px;
    background-color: #0d362c;
    border-radius: 10px;
    margin: 10px 0;
}

.slide2 {
    width: 100%;
    height: 480px;
    background-color: #361d15;
    border-radius: 10px;
    margin: 10px 0;
}

.slide3 {
    width: 100%;
    height: 480px;
    background-color: #111736;
    border-radius: 10px;
    margin: 10px 0;
}

.slide4 {
    width: 100%;
    height: 480px;
    background-color: #273600;
    border-radius: 10px;
    margin: 10px 0;
}